:root{
    --cor1: blue;
    --cor2: black;
    --cor-hover: red;

}

.dp-menu ul{
    list-style-type: none;
    padding: 0;
    text-align: center;
    
}

.dp-menu ul{
    background-color: var(--cor2);
}

.dp-menu ul li {
    display: inline;
    position: relative;
   }

.dp-menu ul li a{
 color: var(--cor1);
 text-decoration: none;
 padding: 10px;
 display: inline-block;
}

.dp-menu ul li a:hover{
    background-color: var(--cor-hover);
}

 /* SUB MENU */
 .dp-menu ul ul{
  display: none;
  position: absolute;
  left: 0;

    }


.dp-menu ul li:hover ul{
    display: block;
  }

  .dp-menu ul ul{
     width: 150px;
  }

  .dp-menu ul ul li a{
    display: block;
  }